.menu {
  width: 100%;
  max-width: 100%;
  height: 52px;
  position: fixed;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: closeMenu 250ms ease-in-out;
  @keyframes closeMenu {
    from {
      height: 100vh;
    }
    to {
      height: 52px;
    }
  }
  &__open {
    animation: openMenu 250ms ease-in-out;
    height: 100vh;
    @keyframes openMenu {
      from {
        height: 70px;
      }
      to {
        height: 100vh;
      }
    }
  }
  &__content {
    background: rgba($theme-light, 0.15);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      li {
        height: 20px;
      }
    }
    img {
      opacity: 0.4;
      padding: 0 10px 0;
      height: 20px;
      filter: invert(1);
      &:hover {
        opacity: 1;
        cursor: pointer;
        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          75% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
  }
  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100px;
    width: 200%;
    height: 100%;
    background-image: url('../../assets/images/7.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    opacity: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -99;
  }
}
.login {
  background: rgba(229, 225, 245, 0.15);
  height: 100%;
  top: 52px;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  animation: openMenu 250ms ease-in-out;
  &__form {
    margin-top: -10%;
    opacity: 1;
    animation: fadeIn 250ms ease-in-out;
    @keyframes fadeIn {
      0%,
      30% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &__close {
    height: 0%;
    animation: closeMenu 250ms ease-in-out;
    .login__form {
      animation: fadeOut 250ms ease-in-out;
      opacity: 0;
      pointer-events: none;
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        30%,
        100% {
          opacity: 0;
        }
      }
      img {
        pointer-events: none;
      }
    }
  }
}
